<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'design.css') }}">
    <title>cyclists</title>
</head>

<style>
     td {text-align: center;}
     h1 {text-align: center;}
</style>

<body style="background-color:lightgrey;" >
    <h1>Cyclist position by stage</h1>
    
    <form method="get" action="submitted.html">
        <table class="center">
        <tr><td> cyclist ID </td></tr>
        <tr><td><select name="cyclist_ID" style="width: 150px;">
            {% for cyclist in cyclist %}
                <option value="{{ cyclist['CID'] }}"> {{cyclist['CID']}}, {{cyclist['name']}} {{cyclist['surname']}} </option>
            {% endfor %}
            </select> </td></tr>

            <tr><td><label for="stage_ID"> Stage ID </label></td></tr>
            <tr><td><input type="number" id="SID" name="SID" min="0" max="10" style="width: 150px;" ></td></tr>
            <tr><td><input type="submit" value="Submit" style="width: 150px;"></td></tr>
    </table>
        </form>
</body>
</html>

