<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'design.css') }}">
    <title>Next</title>

    <style>
        td {text-align: center;}
        h1 {text-align: center;}
   </style>
   
</head>
<body style="background-color:lightgrey;">
    <h1>Next to Insert Location</h1>
    <form method="get" action="index3.html">
        <table class="center">
        <tr><td><input type="submit" value="Next" style="width: 150px;" ></td></tr>
        </table>
    </form>
</body>
</html>